<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<p>
		This is an exercise from <a href="http://ruby.railstutorial.org/chapters/static-pages#top">RubyOnRailsTutorial</a> Where one is required to make a contact page.
	</p>